spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/getmuscle
    username: yoomac
    password:
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          format_sql: true



